html {
    box-sizing: border-box;
} 

* {
    box-sizing: inherit;
} 

body {
    background: #899546;
}
h1 {
    text-align: center;
    background: #fff;
    border-bottom-style: solid;
    border-bottom-width: 1rem;
}
h3 {
    background-color: #fff;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.life, .health {
    max-width: 600px;
}
div, #container {
    width: 100% !important;
}




